
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Tohoma', "Arial";
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

:root{
    --main-color:#2196f3 ;
    --main-color-alt:#1787E0 ;
    --transition:.4s;
    --padding-top:100px;
    --padding-bottom:100px;
    --background-main:#ececec;
    --color-facebook: #014a86;
    --color-twitter:#2f92e2;
    --color-youtube:rgba(236, 52, 52, 0.863);
    --color-one: #ffea00;
} 

.hidden{
    display: none;
}

.main-title{
    border: 1px solid black;
    width: fit-content;
    padding: 10px 50px;
    margin: 0px auto 80px;
    font-size: 30px;
    position: relative;
    z-index: 1;
    transition: var(--transition) linear;
    cursor: pointer;
    border-radius: 10px;
    border-color: var(--main-color);
}
.main-title:hover{
    background-color: var(--main-color);
    color: white;
    border: none;
}

.main-title::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    border-radius: 50%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.main-title:hover::before{
    z-index: -1;
    animation: main-style-be .4s linear forwards;
}

@keyframes main-style-be{
    50%{
        width: 15px;
        height: 15px;
        left: 0;
        height: 100%;
    }
    100%{
        border-radius: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.main-title::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    border-radius: 50%;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.main-title:hover::after{
    z-index: -1;
    animation: main-style-af .4s linear forwards;
}

@keyframes main-style-af{
    50%{
        width: 15px;
        height: 15px;
        right: 0;
        height: 100%;
    }
    100%{
        border-radius: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}
 
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; 
}
/*Small*/
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
/*medium*/
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
/*large*/
@media (min-width:1200px) {
    .container{
        width: 750px;
    }
}

/* Start header */

header{
    background-color: white;
    box-shadow: 0 0 20px #ddd;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 90%;
}

header .logo{
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:767px){
    header .logo{
        width: 100%;
        height: 60px;
    }
}

header ul{
    display: flex;
}

@media(max-width:767px){
    header ul{
        margin: auto auto auto 100px;
    }
}

@media(max-width:645px){
    header ul{
        margin: auto auto auto 60px;
    }
}

@media(max-width:450px){
    header ul{
        margin: auto auto auto 20px;
    }
}


header nav ul >li >a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
    padding: 0 30px;
    color: black;
    font-weight: 600;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}

@media(max-width:767px){
    header nav ul >li >a{
        padding: 15px;
        font-size: 14px;
        height: 40px;
        margin-bottom: 10px;
    }
}


header nav ul >li >a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    bottom: 0;
    left: -100%;
    transition: var(--transition);
}

header nav ul >li >a:hover{
    color: var(--main-color);
    background-color: #fafafa;
}
header nav ul >li >a:hover::before{
    left: 0;
}
/* end header */
/* Start landing */

.landing{
    position: relative;
}

.landing::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:var(--background-main);
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
    top: -60px;
    left: 0px;
}

.landing .container{
    min-height: calc(100vh - 73px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
    width: 90%;
}

@media (max-width: 991px){
    .landing .image img{
        display: none;
    }
}

.landing .text{
    flex: 1;
}

@media(max-width:767px){
    .landing .text{
    text-align: center;
    }
}

.landing .text h5{
    flex: 1;
    margin-bottom: 20px;
    font-size: 35px;
    letter-spacing: -2px;
}

@media(max-width:767px){
    .landing .text h5{
        font-size: 18px;
        letter-spacing: normal;
    }
}

.landing .text p{
    font-size: 17px;
    opacity: .8;
    line-height: 1.7;
    margin: 5px 10px 0;
    max-width: 450px;
}

@media(max-width:767px){
    .landing .text p{
    margin: auto;
    }
}

.landing .image img{
    width: 600px;
    max-width: 100%;
}

.landing .aro-gro{
    color: var(--main-color);
    bottom: 30px;
     transition: var(--transition);
    padding: 5px 15px;
    right: 10px;
    background-color: #333;
    position: fixed;
    z-index: 999;
    display: none;
    cursor: pointer;
}

/* .landing .aro-gro i{
    animation: btn 2s linear infinite;
}

@keyframes btn{
    0%, 10%, 20%, 40%, 60%, 80%, 100%{
        transform: translateY(0);
    }
    30%, 50%{
        transform: translateY(-15px);
    }
} */

/* end landing */
/* Start New-phone */

.New-phone{
        padding-top: var(--padding-top);
        padding-bottom: var(--padding-bottom);
        position: relative;
}

.New-phone .container{
    width: 60%;
    max-width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 30px;
}

.New-phone .box{
    box-shadow: 0 2px 15px rgb(0  0 0 /10%);
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    transition: transform var(--transition), box-shadow var(--transition);
    cursor: pointer;
}
.New-phone .box:hover .info i{
    animation: fa-long-arrow .5s infinite;
}


@keyframes fa-long-arrow{
    100%{
        transform: translateX(-10px);
    }
}


.New-phone .box:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0  0 0 /25%);;
}

.box img{
        width: 239px;
        height: 170px;
        max-width: 100%;
        width: 100% !important;

    }

    .New-phone .content{
        padding: 25px;
    }

    .New-phone .content h3{
        text-align: center;
        font-size: 16px;
    }

    .New-phone .box .info{
        display: flex;
        align-items: center;
        color: var(--main-color);
        padding:20px;
        border-top: 1px solid #E6E6E7;
        justify-content: space-between;
    }

    .New-phone .box .info a{
        padding: 0 0 10px 10px;
        font-size: 18px;
        color: var(--main-color);
        font-weight: 600;
    }

    .New-phone .box .info i{
        font-size: 20px;
        margin-bottom: 10px;
    }
/* Start New-phone */

/* Start offers */

.offers{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
    background-color:var(--background-main);
}

    .offers .container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        width: 60%;
        grid-gap: 30px;
        cursor: pointer;
        justify-content: center;
    }

    .offers .box{
        box-shadow: 0 2px 15px rgb(0  0 0 /40%);
        position: relative;
        overflow: hidden;
        background-color: white;
        padding: 15px;
    }

    .offers img{
        width: 325px;
        width: 100%;
        transition: var(--transition);
        border-radius: 10px;
    }
    .offers img:hover{
        transform: scale(1.1) rotate(3deg);
    }

    .offers .content{
        position: absolute;
        padding: 20px;
        width: 100%;
        background-color: white;
        left: 0;
        transition: 1s;
        bottom: -100%;
    }
    .offers .box:hover .content{
        top: 50%;
        background-color: rgba(0, 0, 0, .3);
        color:white;
        font-size: 15px;
    }

    .offers .content h3{
        color: var(--main-color);
        font-weight: normal;
    }
/* end offers */

/* Start Section */

    .section{
        padding-top: var(--padding-top);
        padding-bottom: var(--padding-bottom);
        position: relative;
    }

    .section .container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        width: 60%;
        grid-gap: 50px;
        text-align: center;
        justify-content: center;
    }

    .section .box .img-section{
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    .section .box .img-section::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #607d8b21;
        
    }
    .section .box img{
        width: 100%;
    }

    .section .box{
        border: 1px solid rgba(204, 204, 204, 0.616);
        box-shadow: 0 2px 15px rgb(0  0 0 /40%);
        transition: .5s;
        cursor: pointer;
    }
    .section .box:hover{
        transform: translateY(-15px);
    }

    .section .box h2{
        font-weight: normal;
        padding: 20px;
        position: relative;
    }

    .section .box h2::after{
    content: "";
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: var(--main-color-alt);
    bottom: 0;
}

    .section .box input[type="submit"]{
        margin: 50px auto 20px auto;
        padding: 10px 20px;
        background-color: var(--main-color);
        border-radius: 10px;
        color: white;
        border: none;
        cursor: pointer;
    }

/* end Section */
/* Start testimonials */

.testimonials{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
    background-color:var(--background-main);
}

.testimonials .container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 60%;
    grid-gap: 50px;
}

.testimonials .box{
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px #000000ad;
    border-radius: 5px;
    position: relative;
}

.testimonials .box img{
    right: -10px;
    top: -40px;
    position: absolute;
    width: 100px !important;
    height: 100px;
    border-radius: 50%;
}

.testimonials .box h2{
    font-size: 18px;
    margin: 0 0 15px;
    color: var(--main-color);
}

.testimonials .box .rate{
    margin: 0 0 10px;
}

.testimonials .box .rate .filled{
    color: #ffc107;
}

.testimonials .box p{
    opacity: .8;
    line-height: 1.6;
}
/* end testimonials */
/* Start services */

.services{
        padding-top: var(--padding-top);
        padding-bottom: var(--padding-bottom);
        position: relative;
}

.services .container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        width: 60%;
        grid-gap: 50px;
        justify-content: center;
}

.services .box{
    background-color: white;
    box-shadow: 0 2px 4px #00000094;
    counter-increment: services;
    transition: var(--transition);
    position: relative;
    padding: 20px;
    cursor: pointer;
}

.services .box::before{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 3px;
    width:0px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--transition);
}

.services .box:hover::before{
    width: 100%;
}

.services .box:hover{
    transform: translateY(-10px);
}

.services .box i{
    display: block;
    color: rgb(213, 213, 213);
    margin: 30px auto 20px auto;
    text-align: center;
}

.services .box h3{
    text-align: center;
    font-size: 25px;
    margin: 20px 0px 40px;
}

.services .box .info::after{
    content: "0" counter(services);
    position: absolute;
    bottom: 0px;
    background-color: var(--main-color);
    padding: 10px 30px;
    left: 0;
    color: white;
    font-size: 25px;
    border-radius: 3px;
    font-weight: 600;
}

.services .box .info a{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    display: flex;/*text-align:center;*/
    justify-content: flex-end;
}
/* end services */
/* Start statistics */

.sales-ratio{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color:var(--background-main);
    position: relative;
}

.sales-ratio .container{
    display: flex;
    align-items: center;
    text-align: center;
    width: 60%;
}

.sales-ratio .boxs{
    flex: 1;
}


.sales-ratio .boxs h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 10px;
}


.sales-ratio .boxs .prog{
    height: 30px;
    width: 100%;
    background-color: #fff;
    position: relative;
    margin-left: 10px;
}

.sales-ratio .boxs .prog span{
    position: absolute;
    background-color: var(--main-color);
    height: 30px;
    left: 0;
    top: 0;
    transition: .8s;
}

.sales-ratio .boxs .prog span::before{
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -20px;
    right: -15px;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 5px;
}

.sales-ratio .boxs .prog span::after{
    content: "";
    position: absolute;
    top: -1px;
    right: -10px;
    border: 10px solid;
    border-color: black transparent transparent transparent;
}

/* end statistics */
/* Start About Us*/

.send{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
}

.send .container{
    display: flex;
    width: 60%;
    grid-gap: 50px;
    justify-content: space-between;
}

@media (max-width:1000px){
    .send .container{
        width: 95%;
        grid-gap: 10px;
    }
}


.send .write-message{
    display: flex;
    flex-direction: column;
}

.send .write-message input{
    width: 240px;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid;
    border-color: transparent transparent black transparent;
}

.send .write-message textarea{
    width: 300px;
    height: 130px;
    outline: none;
    padding: 10px;
    resize: none;
}

.send .write-message button{
    padding: 10px 25px;
    background-color: var(--main-color);
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.send .view-message div{
    background-color: #333;
    color: white;
    width: 400px;
    height: 200px;
    border-radius: 5px;
}

@media (max-width:750px){
    .send .view-message div{
        display: none;
    }
}


.send .view-message div h3{
    padding: 10px;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 10px;
}

.send .view-message div p{
    padding: 0 15px;
}

/* Start About Us */
/* Sart footer  */

    footer{
        padding-top: var(--padding-top);
        padding-bottom: var(--padding-bottom);
        position: relative;
        background-color: #191919;
    }

    footer .container{
        display: flex;
        justify-content: space-between;
        width: 90%;
        color: white;
    }

    @media(max-width:767px){
        footer .container{
            flex-direction: column;
            justify-content:center;
        }
    }

    footer .container .box{
        max-width: 350px;
     }

    @media(max-width:767px){
        footer .container .box:nth-of-type(1){
            margin-bottom: 20px;
        }
    }

    footer .container h3{
        font-size: 40px;
        font-weight: bold;
        letter-spacing: -2px;
        margin-bottom: 25px;
    }
    
    footer .container .icons{
        display: flex;
        margin-bottom: 25px;
    }

    footer .container .icons li{
        margin-left: 5px;
    }

    footer .container .icons li a{
        padding: 15px;
        background-color: #333;
        color: white;
        transition: var(--transition);
    }

    footer .box .text{
        line-height: 1.8;
        color: #777;
    }

    footer .icons li .facebook:hover{
        background-color: var(--color-facebook);
    } 
    
    footer .icons li .twitter:hover{
        background-color: var(--color-twitter);
    }
    
    footer .icons li .youtube:hover{
        background-color: var(--color-youtube);
    }
    footer .box .line{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        align-items: center;
    }

    footer .box .line i{
        color: var(--main-color);
        font-size: 25px;
    }

    footer .box .line .info{
        line-height: 1.8;
        margin-left: 10px;
    }

    footer .box .line .info span{
        display: block;
    }

    footer .copy-right{
    color: white;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    border: 1px solid;
    padding: 10px;
    border-color: white transparent transparent transparent;
    }   

/* end footer  */